<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A.BIG.T.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Kwazii.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PacketTunnel-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PacketTunnel-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Preference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Surf-Today.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Surf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SurfToday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XDataService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>578ED9281C03181200913B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>691B36761C0F5BD7001C815D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692D8CF61C6A250400C07B3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69366E551BFECBE700AE123D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6938E6301D387E1A00671B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6938E6431D3889F100671B96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>696573D81DE4953000D95D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>696573EB1DE4959B00D95D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>696B74D81C3B9C8900BFCA89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6989A4FE1C31042D00DD1435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A85E311C29650900CE8F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69BC94B01C29A35A00F7974C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C4EE281C2919010020FBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69C4EE3B1C29193D0020FBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69DA64D11C291FD300DC174C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
